/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
.logo img {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
    height: auto;
}


#profile-text {
    /* 추가된 스타일 */
    display: inline-block;
    margin-left: 40px;
    color: #000;
    font-weight: bold;
}
#profile-text:hover  {
    /* 추가된 스타일 */
    display: inline-block;
    margin-left: 40px;
    color: #fff;
    font-weight: bold;
}
/* Container Styles */
.container {
    display: flex;
    margin: 20px;
}

main {
    flex: 3;
    padding: 20px;
    background-color: #fff;
}
/* Banner Styles */
.banner img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
}
.search-bar input[type="text"] {
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 20px;
    width: 500px; /* Adjust the width as needed */
}
.search-icon {
    margin-left: -40px;
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon img {
    max-width: 90%;
    max-height: 90%;
}
/* Contest List Styles */
.section {
    /* 추가된 스타일 */
    flex: 1;
    padding: 5px;
}
.sections-container {
    margin-left: 200px;
    height: 750px;
    display: flex;
    gap: 30px;
    background-color: #fff;
}
.section_in{
    height: 700px;
}
.section-heading {
    margin-top: 1px;
    text-align: center;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 200px;
    background: linen;
    height: 100%;
    overflow: auto;
    position: fixed;
}

li a {
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    text-align: center;
    font-weight: bold;
}

li a:hover {
    background: lightsalmon;
    color: #fff;
}

.cd1 {
    margin-left: 20px;
    height: 100px;
    background-color: linen;
}

.auth-buttons {
    width: 149px;
    height: 25px;
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: lightsalmon;
    color: white;
    cursor: pointer;
}
.delete-button {
    position: fixed; /* 요소를 화면에 고정 */
    bottom: 50px; /* 아래 여백 조절 */
    right: 50px; /* 오른쪽 여백 조절 */
    z-index: 1; /* 다른 요소 위에 위치하도록 설정 */
    background-color: lightsalmon;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.delete-button:hover {
    color: white;
}
/* 자유게시판 CSS */
.post-wrap {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post-title {
    margin-bottom: 20px;
}

.post-title strong {
    font-size: 1.3rem;
}

.post-title p {
    margin-top: 5px;
    font-size: 0.8rem;
}

.post-list {
    width: 100%;
    border-top: 2px solid #000;
}

.post-list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.post-list > div.top {
    border-bottom: 1px solid #999;
}

.post-list > div:last-child {
    border-bottom: 1px solid #000;
}

.post-list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 0.9rem;
}

.post-list > div.top > div {
    font-weight: bold;
}

.post-list .num {
    width: 10%;
}

.post-list .title {
    width: 50%;
    text-align: left;
}

.post-list .top .title {
    text-align: center;
}

.post-list .writer {
    width: 10%;
}

.post-list .date {
    width: 20%;
}

.post-list .count {
    width: 10%;
}

.post-btn button {
    margin: 5px;
    float: right;
    border: none;
    border-radius: 6px;
    background-color: lightsalmon;
    color: white;
    cursor: pointer;
}

.post-page {
    margin-top : 20px;
    text-align: center;
    font-size: 0;
}

.post-page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 7px;
    border-left: 0;
    line-height: 100%;
}

.post-page a.bt {
    padding-top: 10px;
    font-size: 1.0rem;
    letter-spacing: -1px;
}

.post-page a.num {
    padding-top: 9px;
    font-size: 0.9rem;
}

.post-page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.post-page a:first-child {
    border-left: 1px solid #ddd;
}